{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part I (Auctions)
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
<div>
  <p>
   This part has 40 rounds. In each round, you will participate in an auction.
At the beginning of every auction, you will be randomly matched with three
other participants from a previous experiment.
  </p>
  <h4>What is the prize?</h4>
  <p>
    In every round a prize will be auctioned off. The prize will be a lottery ticket. Any lottery is characterized by two features:
  </p>

  <ol type="1">
    <li>A {% if player.is_value_treatment %}Selected {% endif %}Value (in <span class="credits">C</span> ): a non-zero amount of credits that the lottery possibly pays off and,</li>
    <li>A {% if player.is_value_treatment %}probability{% else %}Selected Probability{% endif %} (in %): the probability of receiving the non-zero amount of credits.</li>
  </ol>
  <p>For instance, consider the following lottery ticket:</p>

  <div class="lottery" id="lottery-text">
    <p class="text-center">
      With a probability of {% if player.is_value_treatment%} 70% {%else%} 20% {%endif%} you get
      <span class="credits">C</span>{% if player.is_value_treatment %} 20 {% else %} 70 {%endif%},<br>
      otherwise (with the complementary probability of {% if player.is_value_treatment%} 30% {%else%} 80% {%endif%}) you get <span class="credits">C</span>0.
    </p>
  </div>
  <div>
    <p>
      In this case, <span class="credits">C</span>{% if player.is_value_treatment%}20 {%else%}70 {%endif%}
      is the {% if player.is_value_treatment%} Selected Value {%else%} value {%endif%} and
      {% if player.is_value_treatment%} 70% {%else%} 20% {%endif%} is the
      {% if player.is_value_treatment %} probability {% else %} Selected Probability {% endif %}.
      This means that this lottery pays <span class="credits">C</span>{% if player.is_value_treatment%}20 {%else%}70 {%endif%}
      with a {% if player.is_value_treatment%} 70% {%else%} 20% {%endif%} chance and pays
      <span class="credits">C</span>0 with a {% if player.is_value_treatment %} 30% {% else %} 80% {% endif %} chance.
      The outcome of this lottery is then either
      <span class="credits">C</span>{% if player.is_value_treatment%}20 {%else%}70 {%endif%} or
      <span class="credits">C</span>0.
    </p>
  </div>
  {% next_button %}
</div>
{% endblock %}
