{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part I (Auctions)
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
{% endblock %}

{% block content %}
<div>
  <p>
   This part has 40 rounds. In each round, you will participate in an auction.
At the beginning of every auction, you will be randomly matched with three
other participants from a previous experiment.
  </p>
  <h4>What is the prize?</h4>
  <p>
    In every round a prize will be auctioned off. The prize will be a lottery ticket. Any lottery is characterized by two features:
  </p>
  <ol type="1">
    <li>A Selected Value (in credits ): a non-zero amount of credits that the lottery possibly pays off and,</li>
    <li>A probability (in %): the probability of receiving the non-zero amount of credits.</li>
  </ol>
  <p>For instance, consider the following lottery ticket:</p>

  <div class="lottery" id="lottery-text">
    <p class="text-center">
      With a probability of 70% you get 20 credits, </br>otherwise (with the complementary probability of 30%) you get 0 credits.
    </p>
  </div>
  <div>
    <p>
      In this case, 20 credits is the Selected Value and 70% is the probability. This means that this lottery pays
      20 credits with a 70% chance and pays 0 credits with a 30% chance. The outcome of this lottery is then either 20
      credits or 0 credits.
    </p>
  </div>
  {% next_button %}
</div>
{% endblock %}
