<p>Here is some information about the lottery ticket that is being auctioned.
  However, the {{ player.selected_value_text }} is only partially known: You learn that it could be any
  {% if player.is_value_treatment %} integer {% else %} percentage number {% endif %}
  between {% if player.is_value_treatment %} 10 {% else %} 10% {% endif %} and
  {% if player.is_value_treatment %} 30 {% else %} 30% {% endif %} inclusively. That is, the computer has chosen
  one number that could be 10, 11, 12, ... , 29, or 30 with equal chances. Thus, each time you see a lottery ticket,
  the {{ player.selected_value_text }} has already been set by the computer, but it is not displayed. Neither you nor
  the three other bidders know the {{ player.selected_value_text }}. To assess how much you would be willing to pay
  for the lottery ticket, you should guess the {{ player.selected_value_text }}.</p>
