{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
  {% include 'questions/QuestionCSS.html' %}
{% endblock %}

{% block content %}

  {% include 'global/LotteryRoundNavbar.html' %}

  <div class="grid-container">
    <div>
      <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
      </div>
      <div>
        <p>Consider the following lottery ticket with two possible prizes,
          0 and a value v.</p>
      </div>

      {% include 'global/Lottery.html' %}

      {% include 'global/YourSignal.html' %}

      {% include 'global/SignalInterpretation.html' %}
    </div>

    <div>
      <div>
        <div class="container-fluid">
          <ul class="list-unstyled multi-steps">
            <li>Question 1</li>
            <li class="is-active">Question 2</li>
            <li>Question 3</li>
          </ul>
        </div>
      </div>

      <div id="task">
        <div>
          <div class="pb-2">
            <h5>What is the lottery, on average, worth if you learn that, among all four bidders, you have the highest signal?</h5>
          </div>
          <div id="question">
            <h5>Choose an interval for your guess</h5>
          </div>
          <div id="slider"></div>
        </div>

        <div class="worth-table" id="conversion-table">
          <table>
            <thead>
            <tr>
              <th class="text-center">
              </th>
              <th class="text-center">
                <span>At Least</span>
              </th>
              <th class="text-center">
                <span>Best</span>
              </th>
              <th>
                <span>At Most</span>
              </th>
            </tr>
            </thead>
            <tr>
              <th>
                <span>Estimate</span>
              </th>
              <td class="text-center">
                <input type="number" id="id_min_worth" name="updated_min_worth" min="0" max="100" step="1"
                       class="center-input form-control" value="{{ form.updated_min_worth.object_data }}"
                       placeholder="" data-for="min-selected-probability" data-handle="0" required>
                {% if form.updated_min_worth.errors %}
                <div class="alert alert-danger">
                  {{ form.updated_min_worth.errors }}
                </div>
                {% endif %}
              </td>
              <td class="text-center">
                <input type="number" id="id_bid" name="updated_worth" min="{{ min_valuation }}" max="{{ max_valuation }}" step="1"
                       class="center-input form-control" value="{{ form.updated_worth.object_data }}" placeholder=""
                       data-for="bid-selected-probability" data-handle="1" required>

                {% if form.updated_worth.errors %}
                <div class="alert alert-danger">
                  {{ form.updated_worth.errors }}
                </div>
                {% endif %}
              </td>
              <td class="text-center">
                <input type="number" id="id_max_worth" name="updated_max_worth" min="0" max="100" step="1" class="center-input form-control"
                       value="{{ form.updated_max_worth.object_data }}" placeholder=""
                       data-for="max-selected-probability" data-handle="2" required>

                {% if form.updated_max_worth.errors %}
                <div class="alert alert-danger">
                  {{ form.updated_max_worth.errors }}
                </div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3">
                <div id="min_worth_error"></div>
                <div id="worth_error"></div>
                <div id="max_worth_error"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        {% next_button %}
      </div>

    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Re-Read Instructions
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h4>Interval</h4>
          {% include 'questions/IntervalThreeBIntro.html' %}
          {% include 'questions/IntervalThreeBContinuedIntro.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>

  let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })

  /**
   * Global Variables
   */
  let slider = document.getElementById('slider');

  let minWorthInput = document.getElementById('id_min_worth');
  let worthInput = document.getElementById('id_bid');
  let maxWorthInput = document.getElementById('id_max_worth');

  let minWorthError = document.getElementById('min_worth_error');
  let worthError = document.getElementById('worth_error');
  let maxWorthError = document.getElementById('max_worth_error');

  let inputElements = [minWorthInput, worthInput, maxWorthInput];
  let errorElements = [minWorthError, worthError, maxWorthError];
  let handlesHiddenState = [true, false, true];

  /**
   * Utility Functions
   */
  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  let sliderTooltipFormatter = {
    to: function(value) {
      return '<span class="credits">C</span>' + value;
    },
    from: function(value) {
      let dollar_value = value.split(" (")[0].slice(1)
      return Number(dollar_value)
    },
  }

  noUiSlider.create(slider, {
    start: [js_vars.worth, js_vars.worth, js_vars.worth],
    direction: 'ltr',
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [sliderTooltipFormatter, sliderTooltipFormatter, sliderTooltipFormatter],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '<span class="credits">C</span>',
      }),
    }
  });

  function updateInputValue(handle, value) {
    inputElements[handle].value = parseInt(value);
  }

  function displayHandleIfHidden(handle) {
    if (handlesHiddenState[handle]) {
      handlesHiddenState[handle] = false;
      document.getElementsByClassName('noUi-handle')[handle].style.display = "block";
    }
  }

  function handleSliderSlide(values, handle){
    displayHandleIfHidden(handle);
    updateInputValue(handle, values[handle]);
  }

  function handleSliderSet(values, handle) {
    displayHandleIfHidden(handle);
  }

  function validateInput(value, handle) {
    let minWorthValue = parseInt(inputElements[0].value);
    let worthValue = parseInt(inputElements[1].value);
    let maxWorthValue = parseInt(inputElements[2].value);

    if (handle === 0 && value < 0) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Least" value must be greater than zero.`};
    }
    else if (handle === 0 && value > worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Least" value must be less than or equal to your "Best" value.`};
    }
    else if (handle === 1 && value < minWorthValue) {
      return {isValid: false, resetValue: minWorthValue, errorMessage: `Your "Best" value must be greater than or equal to your "At Least" value.`};
    }
    else if (handle === 1 && value > maxWorthValue ) {
      return {isValid: false, resetValue: maxWorthValue, errorMessage: `Your "Best" value must be less than or equal to your "At Most" value.`};
    }
    else if (handle === 2 && value < worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Most" value must be greater than your "Best" value.`};
    }
    else if (handle === 2 && value > 100) {
      return {isValid: false, resetValue: 100, errorMessage: `Your "At most" value must be greater than 100.`};
    }
    else {
      return {isValid: true, errorMessage: ''};
    }
  }

  function updateSliderHandleOnInputFieldChange(element) {
    let handleId = parseInt(element.dataset.handle);
    let inputString = element.value

    if (!isInteger(inputString)) {
      return;
    }

    let inputValue = parseInt(inputString);

    let inputValidation = validateInput(inputValue, handleId)
    if (!inputValidation.isValid) {
      errorElements[handleId].innerHTML = `<small class="is-invalid text-danger">${inputValidation.errorMessage}</small>`;
    }
    else {
      errorElements[handleId].innerHTML = '';
    }

    let handleValues = [null,null,null].map((e, i) => {
      if (i === handleId) {
        if (!inputValidation.isValid) {
          return inputValidation.resetValue;
        }
        else {
          return inputValue;
        }
      }
      else {
        return e;
      }
    })
    console.log(handleValues)

    slider.noUiSlider.set(handleValues);
  }

  slider.noUiSlider.on('set', handleSliderSet)
  slider.noUiSlider.on('slide', handleSliderSlide)

  handlesHiddenState.forEach((isHidden, handle) => {
    if (isHidden) {
      document.getElementsByClassName('noUi-handle')[handle].style.display = "none";
    }
  })

  worthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  minWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  maxWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'Interval',
          intro: js_vars.interval_part_one,
          position: 'left',
          element: document.querySelector(('#task'))
        },
        {
          title: 'Interval (Continued)',
          intro: js_vars.interval_part_two,
          position: 'left',
          element: document.querySelector(('#task'))
        },
      ]
    }).start()
  }
</script>
{% endblock %}
