{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/multi_step_progress_bar.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">
{% endblock %}

  {% block content %}
  {% include 'global/LotteryRoundNavbar.html' %}
  <div class="grid-container">
    <div>
      <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
      </div>
      <div>
        <p>Consider the following lottery ticket with two possible prizes,
          0 and a value v.</p>
      </div>

      {% include 'global/Lottery.html' %}

      {% include 'global/YourSignal.html' %}

      {% include 'global/SignalInterpretation.html' %}
  </div>
  <div>
    <div>
      <ul class="list-unstyled multi-steps">
        <li>Question 1</li>
        <li>Question 2</li>
        <li class="is-active">Question 3</li>
      </ul>
    </div>
    <div id="task" class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
      <div id="question" class="align-self-center">
        <h5>What is the probability that you have the highest signal among all four bidders?</h5>
      </div>
      <div>
        <input type="number" id="id_probability_highest_signal" name="probability_highest_signal" min="0" max="100" step="1"
               class="center-input form-control" value="{{ form.probability_highest_signal.object_data }}"
               placeholder="Enter a number between 0 and 100"
               data-for="bid-selected-probability" required>

        {% if form.probability_highest_signal.errors %}
        <div class="alert alert-danger">
          {{ form.probability_highest_signal.errors }}
        </div>
        {% endif %}
      </div>
      <div>
        {% next_button %}
      </div>

    </div>
  </div>
</div>



<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
        <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the
          lottery.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Re-Read Instructions
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h4>Your Task</h4>
        {% include 'questions/YourTaskProbabilityIntro.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  displayMappedValue(document.getElementById("id_min_worth"));
  displayMappedValue(document.getElementById("id_bid"));
  displayMappedValue(document.getElementById("id_max_worth"));

  document.getElementById("id_min_worth").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })
  document.getElementById("id_bid").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })
  document.getElementById("id_max_worth").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })

  document.getElementById('id_bid').addEventListener("keyup", (event) => {
    bidChecker(event.target);
  });

  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  function displayMappedValue(element) {
    var correspondingElement = document.getElementById(element.dataset.for);

    var worth = parseInt(element.value);
    if (!isInteger(worth)) {
      correspondingElement.textContent = "";
      return;
    }

    var suffix = (js_vars.is_probability_treatment) ? "%" : "";
    correspondingElement.textContent = parseInt((worth / js_vars.mapping_divisor) * 100) + suffix;
  }

  function bidChecker(element) {
    var max = js_vars.lottery_max_value;
    if (element.value > max) {
      $('#modal').modal('show');
    }
  }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script type="text/javascript">
  IMG_URL = '{% static "global/img/BSR2.png" %}';
</script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'Your Task',
          intro: js_vars.your_task,
          position: 'left',
          element: document.querySelector(('#task'))
        },
      ]
    }).start()

  }
</script>
{% endblock %}
