{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
  {% include 'questions/QuestionCSS.html' %}
{% endblock %}

{% block content %}
  {% if new_lottery %}
    {% include 'global/LotteryUpdate.html' %}
  {% endif %}

  {% include 'global/RoundUpdate.html' %}

  {% include 'global/LotteryRoundNavbar.html' %}

  <div class="grid-container">
    <div id="left-side">
      <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
      </div>
      <div>
        <p>Consider the following lottery ticket with two possible prizes, 0 and a value v.</p>
      </div>

      {% include 'global/Lottery.html' %}

      {% include 'global/OneOfFourSignals.html' %}

      {% include 'global/SignalInterpretation.html' %}
    </div>

    <div>
      <div id="question-numbers">
        <div>
          <ul class="list-unstyled multi-steps">
            <li class="is-active">Question 1</li>
            <li>Question 2</li>
            <li>Question 3</li>
          </ul>
        </div>
      </div>

      <div id="task">
        <div>
          <div id="question" class="text-center">
            <h5>What is the lottery, on average, worth?</h5>
          </div>
          <div id="slider">
          </div>
        </div>

        <div class="worth-table" id="conversion-table">
          <table>
            <thead>
            <tr>
              <th class="text-center">
              </th>
              <th class="text-center">
                <span>Best Guess</span>
              </th>
            </tr>
            </thead>
            <tr>
              <th>
                <span>Lottery Worth</span>
              </th>
              <td class="text-center">
                <input type="number" id="id_bid" name="worth" min="{{ min_valuation }}" max="{{ max_valuation }}" step="1"
                       class="center-input form-control" value="{{ form.worth.object_data }}"
                       placeholder="" data-for="bid-selected-probability" data-handle="0" required>
                <small class="text-muted">Please enter an integer value</small>

                {% if form.worth.errors %}
                <div class="alert alert-danger">
                  {{ form.worth.errors }}
                </div>
                {% endif %}
                <div id="worth_error"></div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        {% next_button %}
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Re-Read Instructions
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h4>What is the lottery, on average, worth?</h4>
          {% include 'questions/LotteryWorthIntro.html' %}

          <h4>Your task</h4>
          {% include 'questions/YourTaskIntro.html' %}

          <h4>Instructions for Slider</h4>
          {% include 'questions/InstructionsForSliderIntro.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })
</script>
<script>
  let slider = document.getElementById('slider');

  let worthInput = document.getElementById('id_bid');
  let worthError = document.getElementById('worth_error');

  let inputElements = [worthInput];
  let errorElements = [worthError];
  let handlesHiddenState = [true];

  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  let sliderTooltipFormatter = {
    to: function(value) {
      return '<span class="credits">C</span>' + value;
    },
    from: function(value) {
      let dollar_value = value.split(" (")[0].slice(1)
      return Number(dollar_value)
    },
  }

  noUiSlider.create(slider, {
      start: [0],
      direction: 'ltr',
      connect: true,
      step: 1,
      range: {
          'min': 0,
          'max': 100,
      },
      behaviour: 'tap-drag',
      tooltips: [sliderTooltipFormatter],
      pips: {
          mode: 'values',
          values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
          density: 1,
          stepped: true,
          format: wNumb({
            decimals: 0,
            prefix: '<span class="credits">C</span>',
          }),
      }
  });

  function updateInputValue(handle, value) {
    inputElements[handle].value = parseInt(value);
  }

  function displayHandleIfHidden(handle) {
    if (handlesHiddenState[handle]) {
      handlesHiddenState[handle] = false;
      document.getElementsByClassName('noUi-handle')[handle].style.display = "block";
    }
  }

  function handleSliderSlide(values, handle){
    displayHandleIfHidden(handle);
    updateInputValue(handle, values[handle]);
  }

  function handleSliderSet(values, handle) {
    displayHandleIfHidden(handle);
  }

  function validateInput(value, handle) {
    if (handle === 0 && value < 0) {
      return {isValid: false, resetValue: 0, errorMessage: `Your "Best Guess" must be greater than or equal to 0.`};
    }
    else if (handle === 0 && value > 100) {
      return {isValid: false, resetValue: 100, errorMessage: `Your "Best Guess" must be less than or equal to 100.`};
    }
    else {
      return {isValid: true, errorMessage: ''};
    }
  }

  function updateSliderHandleOnInputFieldChange(element) {
    let handleId = parseInt(element.dataset.handle);
    let inputString = element.value

    if (!isInteger(inputString)) {
      errorElements[handleId].innerHTML = '';
      return;
    }

    let inputValue = parseInt(inputString);

    let inputValidation = validateInput(inputValue, handleId)
    if (!inputValidation.isValid) {
      errorElements[handleId].innerHTML = `<small class="is-invalid text-danger">${inputValidation.errorMessage}</small>`;
    }
    else {
      errorElements[handleId].innerHTML = '';
    }

    let handleValues = [null].map((e, i) => {
      if (i === handleId) {
        if (!inputValidation.isValid) {
          return inputValidation.resetValue;
        }
        else {
          return inputValue;
        }
      }
      else {
        return e;
      }
    })
    console.log(handleValues)

    slider.noUiSlider.set(handleValues);
  }

  handlesHiddenState.forEach((isHidden, handle) => {
    if (isHidden) {
      document.getElementsByClassName('noUi-handle')[handle].style.display = "none";
    }
  })

  slider.noUiSlider.on('set', handleSliderSet)
  slider.noUiSlider.on('slide', handleSliderSlide)

  worthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    IMG_URL = '{% static "global/img/q1a_graph.png" %}';
</script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'Lottery Ticket',
          intro: 'In every round you will find information about the lottery ticket on the left side',
          position: 'right',
          element: document.querySelector(('#left-side'))
        },
        {
          title: 'Questions',
          intro: 'In every round, we ask you questions about three features of the lottery.',
          position: 'right',
          element: document.querySelector(('#question-numbers'))
        },
        {
          title: 'What is the lottery, on average, worth?',
          intro: js_vars.lottery_worth,
          position: 'top',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Your task',
          intro: js_vars.your_task,
          position: 'top',
          element: document.querySelector(('#task'))
        },
        {
          title: 'Instructions for slider',
          intro: js_vars.instructions_for_slider,
          position: 'top',
          element: document.querySelector(('#slider'))
        },
      ]
    }).start()

  }
</script>
{% endblock %}
