{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/multi_step_progress_bar.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<link rel="stylesheet" href="{% static 'global/css/nouislider.css' %}">
<link rel="stylesheet" href="{% static 'global/css/nouislider_hide.css' %}">

<link rel="stylesheet" href="{% static 'global/css/questions.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">

{% endblock %}

{% block content %}
{% if new_lottery %}
{% include 'global/LotteryUpdate.html' %}
{% endif %}
{% include 'global/LotteryRoundNavbar.html' %}

<div class="grid-container">
  <div>
    <div class="lottery-header">
      <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
    </div>
    <div>
      <p>Consider the following lottery ticket with two possible prizes,
        0 and a value v.</p>
    </div>
    <div class="lottery">
      <p class="text-center">
        {% if player.is_value_treatment %}
        With a probability of {{ player.ticket_probability }}% you get a value v between {{ player.alpha }} and {{ player.beta }} credits, otherwise you get 0 credits.
        {% else %}
        With a probability p between {{ player.alpha }}% and {{ player.beta }}%, you get a value v = {{ player.fixed_value }} credits, otherwise
        you get 0 credits.
        {% endif %}
      </p>
    </div>

    <div>
      <h4 class="text-center lottery-header"><u>Your Signal</u></h4>
      <p class="text-center">
        {% if player.is_value_treatment %}
        Your signal about v is: {{ player.signal }}
        {% else %}
        Your signal about p is: {{ player.signal }}%
        {% endif %} (with x = {{ player.epsilon }}).
      </p>
    </div>


    <div>
      <h5 class=""><u>Signal Interpretation</u></h5>
      <p>
        {% if player.is_value_treatment %}
        The Selected Value v is at most {{ player.epsilon }} units away from your signal about v.
        Given your signal, the Selected Value must lie between {{ player.min_signal }} and {{ player.max_signal }}.
        {% else %}
        The Selected Probability p is at most {{ player.epsilon }} percentage points away from your signal about p.
        <br>
        Given your signal, the Selected Probability must lie between {{ player.min_signal }}% and {{ player.max_signal }}%.
        {% endif %}
      </p>
    </div>
    <div id="plot-container"></div>

    {% next_button %}

    <div class="modal" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
            <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the
              lottery.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div>
        <ul class="list-unstyled multi-steps">
          <li class="is-active">Question 1</li>
          <li>Question 2</li>
          <li>Question 3</li>
        </ul>
      </div>
    </div>
    <div id="question">
      <p>Enter what you believe to be the lottery worth.</p>
    </div>
    <div id="slider">
    </div>
    <div class="worth-table">
      <table>
        <thead>
        <tr>
          <th class="text-center">
          </th>
          <th class="text-center">
            <span>Average</span>
          </th>
        </tr>
        </thead>
        <tr>
          <th>
            <span>Lottery Worth</span>
          </th>
          <td class="text-center">
            <input type="number" id="id_bid" name="worth" min="{{ min_valuation }}" max="{{ max_valuation }}" step="1"
                   class="center-input form-control" value="{{ form.worth.object_data }}"
                   placeholder="" data-for="bid-selected-probability" data-handle="0" required>
            <span id="worth_display"></span>

            {% if form.worth.errors %}
            <div class="alert alert-danger">
              {{ form.worth.errors }}
            </div>
            {% endif %}
            <div id="worth_error"></div>
          </td>
        </tr>
        <tr>
          <th class="selected-probability">
            {% if player.is_probability_treatment %}
            <span>Selected Probability</span>
            {% else %}
            <span>Selected Value</span>
            {% endif %}
          </th>
          <td id="worth_prob" class="text-center selected-probability"><span id="bid-selected-probability"></span></td>
        </tr>
      </table>

    </div>
  </div>

</div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Instructions
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h4>Instructions</h4>
        <p>
          The second Part of the experiment has again 40 rounds. Like in Part I, in each round you will see again lotteries with an unknown Selected Value, about which you will receive a signal. Remember that the Selected Value is no more than x numbers away from your signal.
          Again, you will be randomly matched with three other participants from previous experiments. Remember that the other three bidders also have independently from each other received a signal surrounding the same Selected Value. The four of you might therefore receive different signals. That means, the four of you face the same lottery ticket, but the signal-updated range for the Selected Value may be different.
          In every round you will have to answer three different questions. There is a right answer to each question. The closer your answer is to the truth, the more you will earn. For each question you may earn a maximum of 12 credits.
          In this part you will not learn anything at the of the round. At the end of the experiment we will randomly choose one question for payment and only then you will learn how close your answer was to the correct answer for that particular question.
        </p>
        <h4>What is the lottery, on average, worth?</h4>
        <p>
         The correct answer to that question depends on the true Selected Value in the auction. Keep in mind that the lottery pays either the Selected Value or nothing. Therefore, the lottery cannot be worth less than zero or more than the Selected Value. In general, the lottery is worth what you get, on average, if you play the lottery very often.
        </p>
        <h4>Your task</h4>
        <p>
         Guess the worth of the lottery. You will earn 12 credits if your guess is sufficiently close to the actual worth of the lottery; and nothing if it is too far away.
       I</p>
      </div>
      <div>
        <img src="{% static "global/img/q1a_graph.png" %}" alt="">
      </div>
      <div>
        <p>
          The graph shows how the chance of getting 12 credits drops the further away your guess is from the actual worth of the lottery. If it is too far away, you will get nothing.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })
</script>
<script>
  let slider = document.getElementById('slider');

  let worthProbDisplay = document.getElementById('worth_prob');
  let worthInput = document.getElementById('id_bid');
  let worthError = document.getElementById('worth_error');

  let inputElements = [worthInput];
  let displayElements = [worthProbDisplay];
  let errorElements = [worthError];
  let handlesHiddenState = [true];

  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  let sliderTooltipFormatter = {
    to: function(value) {
      let prob = parseInt((value / js_vars.mapping_divisor) * 100);
      let suffix = (js_vars.is_probability_treatment) ? '%' : ''
      return '$' + value + ' (' + prob + suffix + ')';
    },
    from: function(value) {
      let dollar_value = value.split(" (")[0].slice(1)
      return Number(dollar_value)
    },
  }

  noUiSlider.create(slider, {
      start: [0],
      direction: 'ltr',
      connect: true,
      step: 1,
      range: {
          'min': 0,
          'max': 100,
      },
      behaviour: 'tap-drag',
      tooltips: [sliderTooltipFormatter],
      pips: {
          mode: 'values',
          values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
          density: 1,
          stepped: true,
          format: wNumb({
            decimals: 0,
            prefix: '$',
          }),
      }
  });

  function updateInputMappedValue(handle, value) {
    let suffix = (js_vars.is_probability_treatment) ? "%" : "";
    displayElements[handle].innerHTML = (value !== "") ? `${parseInt((value / js_vars.mapping_divisor) * 100)}${suffix}` : "-";
  }

  function updateInputValue(handle, value) {
    inputElements[handle].value = parseInt(value);
  }

  function displayHandleIfHidden(handle) {
    if (handlesHiddenState[handle]) {
      handlesHiddenState[handle] = false;
      document.getElementsByClassName('noUi-handle')[handle].style.display = "block";
    }
  }

  function handleSliderSlide(values, handle){
    displayHandleIfHidden(handle);
    updateInputValue(handle, values[handle]);
    updateInputMappedValue(handle, values[handle]);
  }

  function handleSliderSet(values, handle) {
    displayHandleIfHidden(handle);
    updateInputMappedValue(handle, values[handle]);
  }

  function initializeWorthTable(element) {
    let correspondingElement = document.getElementById(element.dataset.for);
    if (correspondingElement === null) {
      return;
    }

    let value = parseInt(element.value);
    if (!isInteger(value)) {
      correspondingElement.textContent = "";
      return;
    }

    let suffix = (js_vars.is_probability_treatment) ? "%" : "";
    correspondingElement.textContent = parseInt((value / js_vars.mapping_divisor) * 100) + suffix;
  }

  function validateInput(value, handle) {
    let minWorthValue = parseInt(inputElements[0].value);

    if (handle === 0 && value > 100) {
      return {isValid: false, resetValue: 100, errorMessage: `Your entered value must be less than or equal to 100.`};
    }
    else {
      return {isValid: true, errorMessage: ''};
    }
  }

  function updateSliderHandleOnInputFieldChange(element) {
    let handleId = parseInt(element.dataset.handle);
    let inputString = element.value

    if (!isInteger(inputString)) {
      return;
    }

    let inputValue = parseInt(inputString);

    let inputValidation = validateInput(inputValue, handleId)
    if (!inputValidation.isValid) {
      errorElements[handleId].innerHTML = `<span class="error">${inputValidation.errorMessage}</span>`;
    }
    else {
      errorElements[handleId].innerHTML = '';
    }

    let handleValues = [null].map((e, i) => {
      if (i === handleId) {
        if (!inputValidation.isValid) {
          return inputValidation.resetValue;
        }
        else {
          return inputValue;
        }
      }
      else {
        return e;
      }
    })
    console.log(handleValues)

    slider.noUiSlider.set(handleValues);
  }

  slider.noUiSlider.on('set', handleSliderSet)
  slider.noUiSlider.on('slide', handleSliderSlide)

  initializeWorthTable(document.getElementById("id_bid"));

  worthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    IMG_URL = '{% static "global/img/q1a_graph.png" %}';
</script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'What is the lottery, on average, worth?',
          intro: 'Guess the worth of the lottery. You will earn 12 credits if your guess is sufficiently close to the actual worth of the lottery; and nothing if it is too far away.',
          position: 'top',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Your task',
          intro: '<div><p>Guess the worth of the lottery. You will earn 12 credits if your guess is sufficiently close to ' +
            'the actual worth of the lottery; and nothing if it is too far away.</p></div>' +
            '<div><img src="' + IMG_URL + '" alt="graph"></div><div><p>The graph shows how the chance of getting 12 credits ' +
            'drops the further away your guess is from the actual worth of the lottery. If it is too far away, you will get ' +
            'nothing.</p></div>',
          position: 'top',
          element: document.querySelector(('#question'))
        },
      ]
    }).start()

  }
</script>
{% endblock %}
