{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/progress.css' %}">
<link rel="stylesheet" href="{% static 'global/css/multi_step_progress_bar.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">

<link rel="stylesheet" href="{% static 'global/css/nouislider.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_nouislider.css' %}">

<link rel="stylesheet" href="{% static 'global/css/questions.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">
{% endblock %}

{% block content %}
{% if new_lottery %}
{% include 'global/LotteryUpdate.html' %}
{% endif %}
{% include 'global/LotteryRoundNavbar.html' %}

<div class="grid-container">
  <div>
    <div class="lottery-header">
      <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
    </div>
    <div>
      <p>Consider the following lottery ticket with two possible prizes,
        0 and a value v.</p>
    </div>

    {% include 'global/Lottery.html' %}

    {% include 'global/YourSignal.html' %}

    {% include 'global/SignalInterpretation.html' %}



    <div class="modal" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
            <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the
              lottery.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div class="container-fluid">
        <ul class="list-unstyled multi-steps">
          <li class="is-active">Question 1</li>
          <li>Question 2</li>
          <li>Question 3</li>
        </ul>
      </div>
    </div>
    <div id="task">
      <div id="question">
        <h5>Choose an interval for your guess.</h5>
      </div>
      <div id="slider">
      </div>
    </div>

    <div class="worth-table" id="conversion-table">
      <table>
        <thead>
        <tr>
          <th class="text-center">
          </th>
          <th class="text-center">
            <span>At Least</span>
          </th>
          <th class="text-center">
            <span>Best</span>
          </th>
          <th>
            <span>At Most</span>
          </th>
        </tr>
        </thead>
        <tr>
          <th>
            <span>Lottery Worth</span>
          </th>
          <td class="text-center">
            <input type="number" id="id_min_worth" name="min_worth" min="0" max="100" step="1"
                   class="center-input form-control" value="{{ form.min_worth.object_data }}"
                   placeholder="" data-for="min-selected-probability" data-handle="0" required>
            <span id="min_worth_display"></span>
            {% if form.min_worth.errors %}
            <div class="alert alert-danger">
              {{ form.min_worth.errors }}
            </div>
            {% endif %}
            <div id="min_worth_error"></div>
          </td>
          <td class="text-center">
            <input type="number" id="id_bid" name="worth" min="{{ min_valuation }}" max="{{ max_valuation }}" step="1"
                   class="center-input form-control" value="{{ form.worth.object_data }}" placeholder=""
                   data-for="bid-selected-probability" data-handle="1" required>
            <span id="worth_display"></span>

            {% if form.worth.errors %}
            <div class="alert alert-danger">
              {{ form.worth.errors }}
            </div>
            {% endif %}
            <div id="worth_error"></div>
          </td>
          <td class="text-center">
            <input type="number" id="id_max_worth" name="max_worth" min="0" max="100" step="1"
                   class="center-input form-control" value="{{ form.max_worth.object_data }}" placeholder=""
                   data-for="max-selected-probability" data-handle="2" required>
            <span id="max_worth_display"></span>

            {% if form.max_worth.errors %}
            <div class="alert alert-danger">
              {{ form.max_worth.errors }}
            </div>
            {% endif %}
            <div id="max_worth_error"></div>
          </td>
        </tr>
        <tr id="probability-row">
          <th class="selected-probability">
            {% if player.is_probability_treatment %}
            <span>Selected Probability</span>
            {% else %}
            <span>Selected Value</span>
            {% endif %}
          </th>
          <td id="min_worth_prob" class="text-center selected-probability"><span id="min-selected-probability"></span></td>
          <td id="worth_prob" class="text-center selected-probability"><span id="bid-selected-probability"></span></td>
          <td id="max_worth_prob" class="text-center selected-probability"><span id="max-selected-probability"></span></td>
        </tr>
      </table>
      <div>
        {% next_button %}
      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
  let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })

  /**
   * Global Variables
   */
  let slider = document.getElementById('slider');

  let minWorthProbDisplay = document.getElementById('min_worth_prob');
  let worthProbDisplay = document.getElementById('worth_prob');
  let maxWorthProbDisplay = document.getElementById('max_worth_prob');

  let minWorthInput = document.getElementById('id_min_worth');
  let worthInput = document.getElementById('id_bid');
  let maxWorthInput = document.getElementById('id_max_worth');

  let minWorthError = document.getElementById('min_worth_error');
  let worthError = document.getElementById('worth_error');
  let maxWorthError = document.getElementById('max_worth_error');

  let inputElements = [minWorthInput, worthInput, maxWorthInput];
  let displayElements = [minWorthProbDisplay, worthProbDisplay, maxWorthProbDisplay];
  let errorElements = [minWorthError, worthError, maxWorthError];
  let handlesHiddenState = [true, false, true];

  /**
   * Utility Functions
   */
  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  let sliderTooltipFormatter = {
      to: function(value) {
        let prob = parseInt((value / js_vars.mapping_divisor) * 100);
        let suffix = (js_vars.is_probability_treatment) ? '%' : ''
        return '$' + value + ' (' + prob + suffix + ')';
      },
      from: function(value) {
        let dollar_value = value.split(" (")[0].slice(1)
        return Number(dollar_value)
      },
  }

  noUiSlider.create(slider, {
      start: [js_vars.worth, js_vars.worth, js_vars.worth],
      direction: 'ltr',
      connect: true,
      step: 1,
      range: {
          'min': 0,
          'max': 100,
      },
      behaviour: 'tap-drag',
      tooltips: [sliderTooltipFormatter, sliderTooltipFormatter, sliderTooltipFormatter],
      pips: {
          mode: 'values',
          values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
          density: 1,
          stepped: true,
          format: wNumb({
            decimals: 0,
            prefix: '$',
          }),
      }
  });

  function updateInputMappedValue(handle, value) {
    let suffix = (js_vars.is_probability_treatment) ? "%" : "";
      displayElements[handle].innerHTML = (value !== "") ? `${parseInt((value / js_vars.mapping_divisor) * 100)}${suffix}` : "-";
  }

  function updateInputValue(handle, value) {
    inputElements[handle].value = parseInt(value);
  }

  function displayHandleIfHidden(handle) {
    if (handlesHiddenState[handle]) {
      handlesHiddenState[handle] = false;
      document.getElementsByClassName('noUi-handle')[handle].style.display = "block";
    }
  }

  function handleSliderSlide(values, handle){
    displayHandleIfHidden(handle);
    updateInputValue(handle, values[handle]);
    updateInputMappedValue(handle, values[handle]);
  }

  function handleSliderSet(values, handle) {
    displayHandleIfHidden(handle);
    updateInputMappedValue(handle, values[handle]);
  }

  function initializeWorthTable(element) {
    let correspondingElement = document.getElementById(element.dataset.for);
    if (correspondingElement === null) {
      return;
    }

    let value = parseInt(element.value);
    if (!isInteger(value)) {
      correspondingElement.textContent = "";
      return;
    }

    let suffix = (js_vars.is_probability_treatment) ? "%" : "";
    correspondingElement.textContent = parseInt((value / js_vars.mapping_divisor) * 100) + suffix;

    minWorthProbDisplay.innerHTML = "-"
    maxWorthProbDisplay.innerHTML = "-"
  }

  function validateInput(value, handle) {
    let minWorthValue = parseInt(inputElements[0].value);
    let worthValue = parseInt(inputElements[1].value);
    let maxWorthValue = parseInt(inputElements[2].value);

    if (handle === 0 && value > worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your entered value must be less than or equal to ${worthValue}.`};
    }
    else if (handle === 1 && value < minWorthValue) {
      return {isValid: false, resetValue: minWorthValue, errorMessage: `Your entered value must be greater or equal to ${minWorthValue}.`};
    }
    else if (handle === 1 && value > maxWorthValue ) {
      return {isValid: false, resetValue: maxWorthValue, errorMessage: `Your entered must be less than or equal to ${maxWorthValue}.`};
    }
    else if (handle === 2 && value < worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your entered value must be greater than or equal to ${worthValue}.`};
    }
    else if (handle === 2 && value > 100) {
      return {isValid: false, resetValue: 100, errorMessage: `Your entered value must be less than or equal to 100.`};
    }
    else {
      return {isValid: true, errorMessage: ''};
    }
  }

  function updateSliderHandleOnInputFieldChange(element) {
    let handleId = parseInt(element.dataset.handle);
    let inputString = element.value

    if (!isInteger(inputString)) {
      return;
    }

    let inputValue = parseInt(inputString);

    let inputValidation = validateInput(inputValue, handleId)
    if (!inputValidation.isValid) {
      errorElements[handleId].innerHTML = `<span class="error">${inputValidation.errorMessage}</span>`;
    }
    else {
      errorElements[handleId].innerHTML = '';
    }

    let handleValues = [null,null,null].map((e, i) => {
      if (i === handleId) {
        if (!inputValidation.isValid) {
          return inputValidation.resetValue;
        }
        else {
          return inputValue;
        }
      }
      else {
        return e;
      }
    })
    console.log(handleValues)

    slider.noUiSlider.set(handleValues);
  }

  slider.noUiSlider.on('set', handleSliderSet)
  slider.noUiSlider.on('slide', handleSliderSlide)

  handlesHiddenState.forEach((isHidden, handle) => {
    if (isHidden) {
      document.getElementsByClassName('noUi-handle')[handle].style.display = "none";
    }
  })

  initializeWorthTable(document.getElementById("id_bid"));

  worthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  minWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  maxWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script type="text/javascript">
    INT1a = '{% static "global/img/INT1a.png" %}';
    INT1b = '{% static "global/img/INT1b.png" %}';
    INT = '{% static "global/img/INT.png" %}';
</script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'Interval Selection',
          intro: `<p>Now choose an interval that contains the worth of the lottery with a 50% probability; that is,
          you should be 50% sure that the interval contains the lottery’s true worth. The smaller your chosen
          interval is, the more you will earn, but you will only earn a payoff if the actual worth of the lottery
          lies within your chosen interval.</p>`,
          position: 'top',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Details about payoff',
          intro: `<div><img src="${INT1b}" alt="graph"><img src="${INT1a}" alt="graph"><img src="${INT}" alt="graph"></div>
            <div><p>The graphs show the trade-off between making your interval wider but not too wide.
            Increasing the width of the interval increases the chances to capture the true worth of the lottery and to
            get a payoff (top graph), but at the same time it decreases your payoff (middle graph).
            The overall effect on your expected payment depends on the actual lottery and your chosen width (bottom graph).
            Eventually, choosing an interval that is too wide, may decrease your average payment.</p></div>`,
          position: 'top',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Interval Boundaries',
          intro: `<div><p>Enter here the lower and upper threshold of your interval. Choose the values such that your
                  best guess lies within your selected interval.</p></div>`,
          position: 'top',
          element: document.querySelector(('#conversion-table'))
        },
      ]
    }).start()

  }
</script>
{% endblock %}
