{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/progress.css' %}">
j
<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'global/css/nouislider.css' %}">

{% endblock %}

{% block content %}
{% include 'global/LotteryRoundNavbar.html' %}
<div class="grid-container">
  <div>
    <div class="lottery-header">
      <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
    </div>
    <div>
      <p>Consider the following lottery ticket with two possible prizes,
        0 and a value v.</p>
    </div>
    <div class="lottery">
      <p class="text-center">
        {% if player.is_value_treatment %}
        With a probability of {{ player.ticket_probability }}% you get a value v between {{ player.alpha }} and {{ player.beta }} credits, otherwise you get 0 credits.
        {% else %}
        With a probability p between {{ player.alpha }}% and {{ player.beta }}%, you get a value v = {{ player.fixed_value }} credits, otherwise
        you get 0 credits.
        {% endif %}
      </p>
    </div>

    <div>
      <h4 class="text-center lottery-header"><u>Your Signal</u></h4>
      <p class="text-center">
        {% if player.is_value_treatment %}
        Your signal about v is: {{ player.signal }}
        {% else %}
        Your signal about p is: {{ player.signal }}%
        {% endif %} (with x = {{ player.epsilon }}).
      </p>
    </div>

    <div>
      <h5 class=""><u>Signal Interpretation</u></h5>
      <p>
        {% if player.is_value_treatment %}
        The Selected Value v is at most {{ player.epsilon }} units away from your signal about v.
        Given your signal, the Selected Value must lie between {{ player.min_signal }} and {{ player.max_signal }}.
        {% else %}
        The Selected Probability p is at most {{ player.epsilon }} percentage points away from your signal about p.
        <br>
        Given your signal, the Selected Probability must lie between {{ player.min_signal }}% and {{ player.max_signal }}%.
        {% endif %}
      </p>
    </div>
    <div id="plot-container"></div>

    {% next_button %}

    <div class="modal" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Your willingness to pay is larger than the highest possible outcome of the lottery.</p>
            <p>Please submit a reasonable willingness to pay that does not exceed the highest possible outcome of the
              lottery.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div class="pprogress">
        <span class="progress__circle progress--done progress--active"></span>
        <span class="progress__bar progress--done"></span>
        <span class="progress__circle progress--done progress--active"></span>
        <span class="progress__bar progress--done"></span>
        <span class="progress__circle progress--active"></span>
        <span class="progress-left-text">Question 1</span>
        <span class="progress-middle-text">Question 2</span>
        <span class="progress-right-text">Question 3</span>
      </div>
    </div>
    <div id="slider">
    </div>
    <div class="worth-table">
      <table>
        <thead>
        <tr>
          <th class="text-center">
          </th>
          <th class="text-center">
            <span>Your Willingness to Pay</span>
          </th>
          <th class="text-center">
            <span>Maximum Worth</span>
          </th>
          <th>
            <span>Worth of the Lottery</span>
          </th>
        </tr>
        </thead>
        <tr>
          <th>
            <span>Minimum Worth</span>
          </th>
          <td class="text-center">
            <input type="hidden" id="id_min_worth" name="updated_min_worth" min="0" max="100" step="1" class="center-input form-control" value="{{ form.updated_min_worth.object_data }}" placeholder="" data-for="min-selected-probability" required>
            <span id="min_worth_display"></span>

            {% if form.updated_min_worth.errors %}
            <div class="alert alert-danger">
              {{ form.updated_min_worth.errors }}
            </div>
            {% endif %}
          </td>
          <td class="text-center">
            <input type="hidden" id="id_bid" name="updated_worth" min="{{ min_valuation }}" max="{{ max_valuation }}" step="1"
                   class="center-input form-control" value="{{ form.updated_worth.object_data }}" placeholder=""
                   data-for="bid-selected-probability" required>
            <span id="worth_display"></span>

            {% if form.updated_worth.errors %}
            <div class="alert alert-danger">
              {{ form.updated_worth.errors }}
            </div>
            {% endif %}
          </td>
          <td class="text-center">
            <input type="hidden" id="id_max_worth" name="updated_max_worth" min="0" max="100" step="1" class="center-input form-control"
                   value="{{ form.updated_max_worth.object_data }}" placeholder="" data-for="max-selected-probability" required>
            <span id="max_worth_display"></span>

            {% if form.updated_max_worth.errors %}
            <div class="alert alert-danger">
              {{ form.updated_max_worth.errors }}
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="selected-probability">
            {% if player.is_probability_treatment %}
            <span>Selected Probability</span>
            {% else %}
            <span>Selected Value</span>
            {% endif %}
          </th>
          <td id="min_worth_prob" class="text-center selected-probability"><span id="min-selected-probability"></span></td>
          <td id="worth_prob" class="text-center selected-probability"><span id="bid-selected-probability"></span></td>
          <td id="max_worth_prob" class="text-center selected-probability"><span id="max-selected-probability"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js"></script>
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
  // create data
  var data = [
    {x: "", low: 10, q1: 22-4, median: 22, q3: 22+4, high: 30},
  ];

  // create a chart
  chart = anychart.vertical();

  // create a box series and set the data
  series = chart.box(data);
  series.whiskerWidth(30)

  // set the container id
  chart.container("plot-container");

  // initiate drawing the chart
  chart.draw();
</script>
<script>
  let slider = document.getElementById('slider');
  let minWorthDisplay = document.getElementById('min_worth_display');
  let minWorthInput = document.getElementById('id_min_worth');
  let worthDisplay = document.getElementById('worth_display');

  let minWorthProbDisplay = document.getElementById('min_worth_prob');
  let worthProbDisplay = document.getElementById('worth_prob');
  let maxWorthProbDisplay = document.getElementById('max_worth_prob');

  let worthInput = document.getElementById('id_bid');
  let maxWorthDisplay = document.getElementById('max_worth_display');
  let maxWorthInput = document.getElementById('id_max_worth');

  let formatter = {
    to: function(value) {
      let prob = parseInt((value / js_vars.mapping_divisor) * 100);
      let suffix = (js_vars.is_probability_treatment) ? '%' : ''
      return '$' + value + ' (' + prob + suffix + ')';
    },
    from: function(value) {
      let dollar_value = value.split(" (")[0].slice(1)
      return Number(dollar_value)
    },
  }

  noUiSlider.create(slider, {
    start: [0, 50, 100],
    direction: 'ltr',
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [formatter, formatter, formatter],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '$',
      }),
    }
  });


  slider.noUiSlider.on('update', function(values, handle) {
    minWorthDisplay.innerHTML = `$${values[0]}`
    minWorthInput.value = parseInt(values[0])

    worthDisplay.innerHTML = `$${values[1]}`
    worthInput.value = parseInt(values[1])

    maxWorthDisplay.innerHTML = `$${values[2]}`
    maxWorthInput.value = parseInt(values[2])

    let suffix = (js_vars.is_probability_treatment) ? "%" : "";

    let minWorthProb = parseInt((values[0] / js_vars.mapping_divisor) * 100)
    minWorthProbDisplay.innerHTML = `${minWorthProb}${suffix}`

    let worthProb = parseInt((values[1] / js_vars.mapping_divisor) * 100)
    worthProbDisplay.innerHTML = `${worthProb}${suffix}`

    let maxWorthProb = parseInt((values[2] / js_vars.mapping_divisor) * 100)
    maxWorthProbDisplay.innerHTML = `${maxWorthProb}%${suffix}`
  })
</script>
<script>
  displayMappedValue(document.getElementById("id_min_worth"));
  displayMappedValue(document.getElementById("id_bid"));
  displayMappedValue(document.getElementById("id_max_worth"));

  document.getElementById("id_min_worth").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })
  document.getElementById("id_bid").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })
  document.getElementById("id_max_worth").addEventListener("keyup", (event) => {
    displayMappedValue(event.target);
  })

  document.getElementById('id_bid').addEventListener("keyup", (event) => {
    bidChecker(event.target);
  });

  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  function displayMappedValue(element) {
    var correspondingElement = document.getElementById(element.dataset.for);
    console.log(element.dataset.for)

    var worth = parseInt(element.value);
    if (!isInteger(worth)) {
      correspondingElement.textContent = "";
      return;
    }

    var suffix = (js_vars.is_probability_treatment) ? "%" : "";
    correspondingElement.textContent = parseInt((worth / js_vars.mapping_divisor) * 100) + suffix;
  }

  function bidChecker(element) {
    var max = js_vars.lottery_max_value;
    if (element.value > max) {
      $('#modal').modal('show');
    }
  }

</script>
{% endblock %}
