{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global/css/payoff_outcome.css' %}">
{% endblock %}

{% block content %}
  <div id="outcome-header">
      <h3 class="text-center">Question Payoff</h3>
  </div>
  <div class="text-center">
      <span>
          The computer randomly selected question {{question_number}} in {{lottery_round_number}} for a lottery of type {{ lottery_order }}.
      </span>
  </div>
  <div>
    <h4>Prep Work</h4>
    <span>Worth = vLotto*fix or pLotto*fix</span>
    <span> =
      {% if is_probability_treatment %}
        {{ticket_probability}} * {{fixed_value}}
      {% else %}
        {{ticket_value_before}} * {{fixed_value}}
      {% endif %}
    </span><br>
    <span>Emin = fix*alpha = {{fixed_value}} * {{alpha}}</span>
    <span>Emax = fix*beta = {{fixed_value}} * {{beta}}</span>
  </div>

  {% if question_number == 1 %}
    {% include 'payoff/QuestionOneDebugPayoff.html' %}
  {% elif  question_number == 2 %}
    {% include 'payoff/QuestionThreeDebugPayoff.html' %}
  {% else %}
    {% include 'payoff/QuestionTwoDebugPayoff.html' %}
  {% endif %}

  {% next_button %}
{% endblock %}
