{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global/css/payoff_outcome.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
  <div id="outcome-header">
      <h3 class="text-center">Question Payoff</h3>
  </div>

  <div class="text-center">
      <span>
          The computer randomly selected question {{question_number}} in round {{lottery_round_number}} for a lottery of type {{ lottery_order }}.
      </span>
  </div>

  <div id="lottery-ticket-header" class="text-center">
    {% if treatment == 'cv' %}
    <h4>Actual Lottery with Selected Value</h4>
    {% else %}
    <h4>Actual Lottery with Selected Probability</h4>
    {% endif %}

    <p>
      The {{ selected_value_text }} was
      {% if treatment == 'cv' %}
      {{ ticket_value_before }}.
      {% else %}
      {{ ticket_probability }}.
      {% endif %}
      Therefore, the actual lottery ticket was:
    </p>
  </div>

<div class="lottery" id="lottery-text">
  {% if player.is_value_treatment %}
  <p>
    With a probability p of {{ fixed_value }}% you get a value v = <span class="credits">C</span>{{ ticket_value_before }},
    <br>otherwise you get <span class="credits">C</span>0.
  </p>
  {% else %}
  <p>
    With a probability p of {{ ticket_probability }}% you get a value v = <span class="credits">C</span>{{ fixed_value }},
    <br>otherwise you get <span class="credits">C</span>0.
  </p>
  {% endif %}
</div>

<div class="text-center">
  <p>
    Therefore the lottery ticket was actually worth <span class="credits">C</span>{{prep_worth}}.
  </p>
</div>

  <div id="earnings-header" class="text-center">
    <h4>Your Earnings</h4>

    {% if question_number == 1 %}
      {% include 'payoff/QuestionOnePayoff.html' %}
    {% elif  question_number == 2 %}
      {% include 'payoff/QuestionThreePayoff.html' %}
    {% else %}
      {% include 'payoff/QuestionTwoPayoff.html' %}
    {% endif %}
  </div>

    {% next_button %}
{% endblock %}
