<div class="text-center">
  <h4>Your Answer</h4>
  <p>You estimated the lottery to be, on average, worth between
    <span class="credits">C</span>{{min_worth}} and <span class="credits">C</span>{{max_worth}}.
    Your best guess was <span class="credits">C</span>{{worth}}.
  </p>

  <h4>Correct Answer</h4>
  <p>The lottery ticket was worth <span class="credits">C</span>{{prep_worth}}.</p>

  <h4>Your earnings</h4>
  <p>Your earnings in this round are <span class="credits">C</span>{{earnings_q1}}.</p>

  <h4>Details</h4>
  <p>
    {% if is_worth_within_interval %}
    {% if computed_value_non_zero %}
    The actual lottery worth was within your chosen interval, and given your interval's width you get <span class="credits">C</span>{{earnings_q1b}}.
    {% else %}
    The actual lottery was within your chosen interval, but your interval was too wide. Therefore, you get <span class="credits">C</span>{{earnings_q1b}}.
    {% endif %}
    {% else %}
    The actual lottery worth was not within your chosen interval, therefore you get <span class="credits">C</span>{{earnings_q1b}}.
    {% endif %}
  </p>
  <p>
    Given your best guess the probability of getting 12 credits was {{ prob }}%. To compute your payoff the computer
    used a random device with this probability and you get <span class="credits">C</span>{{earnings_q1a}}.
  </p>
  <p>
    In total, you get <span class="credits">C</span>{{ earnings_q1 }}.
  </p>
</div>

