{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global/css/payoff_outcome.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
  <div id="outcome-header">
      <h3 class="text-center">Question Payoff</h3>
  </div>

  <div class="text-center">
      <span>
          The computer randomly selected question {{question_number}} in round {{lottery_round_number}} for a lottery of type {{ lottery_order }}.
      </span>
  </div>

  <div id="lottery-ticket-header" class="text-center">
    {% if treatment == 'cv' %}
    <h4>Actual Lottery with Selected Value</h4>
    {% else %}
    <h4>Actual Lottery with Selected Probability</h4>
    {% endif %}

    <p>
      The {{ selected_value_text }} was
      {% if treatment == 'cv' %}
      {{ ticket_value_before }}.
      {% else %}
      {{ ticket_probability }}.
      {% endif %}
      Therefore, the actual lottery ticket was:
    </p>
  </div>

<div class="lottery" id="lottery-text">
  {% if player.is_value_treatment %}
  <p>
    With a probability p of {{ fixed_value }}% you get a value v = <span class="credits">C</span>{{ ticket_value_before }},
    <br>otherwise you get <span class="credits">C</span>0.
  </p>
  {% else %}
  <p>
    With a probability p of {{ ticket_probability }}% you get a value v = <span class="credits">C</span>{{ fixed_value }},
    <br>otherwise you get <span class="credits">C</span>0.
  </p>
  {% endif %}
</div>

<div class="text-center">
  <p>
    Therefore the lottery ticket was actually worth <span class="credits">C</span>{{prep_worth}}.
  </p>
</div>

  <div id="earnings-header" class="text-center">
    <h4>Your Earnings</h4>

    {% if question_number == 1 %}

      <p>You estimated the lottery to be, on average, worth between <span class="credits">C</span>{{min_worth}} and <span class="credits">C</span>{{max_worth}}. Your best guess was <span class="credits">C</span>{{worth}}.</p>
      <p>Your earnings in this round are <span class="credits">C</span>{{earnings_q1}}.</p>

      <h4>Earnings Details</h4>
      <p>
        The actual lottery worth {% if is_worth_within_interval %} was {% else %} was not {% endif %} within your chosen
        interval, therefore you get {{earnings_q1b}}.
      </p>
      <p>
        Your best guess {% if is_guess_sufficiently_close_to_worth %} was {% else %} was not {% endif %} sufficiently
        close to the actual lottery worth, therefore you get <span class="credits">C</span>12 with a (prob) chance.
        The computer used a random device with this chance to compute your payoff and you get
        <span class="credits">C</span>{{earnings_q1a}}.
      </p>

    {% else if  question_number == 3 %}

      <p>You estimated that your signal of (signal) was the highest one with a probability of {{probability_highest_signal}}.</p>
      <p>The other three bidders hand the signals (s1, s2, s3).</p>
      <p>Therefore your signal {% if highest_market_signal %} was {% else %} was not {% endif %} the highest one.</p>

      <h4>Earnings Details</h4>
      <p>You get <span class="credits">C</span>12 with a {{ prob_computed_loss}} chance. The computer used a random
        device with this chance to compute your payoff and you get <span class="credits">C</span>{{prob_earnings}}.
      </p>
    {% else %}
    <p>
      Given your signal being highest, you estimated the lottery to be, on average, worth between {{updated_min_worth}}
      and {{updated_max_worth}}. Your best guess was {{updated_worth}}.
    </p>
    <p>Your earnings for this round are <span class="credits">C</span>{{earnings_3b}}.</p>

    <h4>Earnings Details</h4>
    <p>
      The correct estimate {% if guess_within_chosen_interval %} was {% else %} was not {% endif %} within your
      chosen interval, therefore you get {{earnings_3b}} credits.
    </p>
    <p>Your best guess {% if guess_sufficiently_close_to_estimate %} was {% else %} was not {% endif %} sufficiently
      close to the correct estimate, therefore you get <span class="credits">C</span>12 with a (prob)
      chance. The computer used a random device with this chance to compute your payoff and you get {{earnings_3a}} credits.
    </p>
    <p>In total, you get <span class="credits">C</span>{{earnings_q3}}.</p>
    {% endif %}
  </div>

<div>
  <h4>Details</h4>
  The actual lottery worth

</div>

<div>

</div>
<div>

</div>

    {% next_button %}
{% endblock %}
