span.credits::before {
    content: '\2016';
    position: absolute;
    margin-left: 2px;
    font-size: 1rem;
    font-weight: 400;
}
span.credits {
    white-space: nowrap;
}

.font-weight-bold {
   font-weight: bold;
}
