{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/outcome.css' %}">

    <link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">

    <link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">

    <link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
{% include 'global/LotteryRoundNavbar.html' %}
    <div id="outcome-header">
        <h3 class="text-center">Outcome</h3>
    </div>

    <div class="lottery-header">
      <h4 class="text-center">Auction</h4>
    </div>

    <div class="two-column-container">
        <div class="item text-center">
            <h5>Your Bid</h5>
            <p>{{ player.bid }}</p>
        </div>
        <div class="item text-center">
            <h5>Highest Bid</h5>
            <span>{{ player.new_highest_bid }}</span>
        </div>
    </div>
    <div class="text-center">
        <span>
        {% if player.winner %}
            You bought the lottery.
        {% elif player.tie %}
            You and at least one other bidder submitted identical highest bids.
          {% if player.win_tie_break %}
          The computer randomly selected you as the winner.
          {% else %}
          The computer randomly selected one other bidder as the winner.
          {% endif %}
        {% else %}
            You did not buy the lottery.
        {% endif %}
        </span>
    </div>

    <div class="text-center lottery-header">
        <h4>Actual Lottery with {{ player.selected_value_text }}</h4>
    </div>

    <div id="lottery-ticket-header" class="text-center">
      <p>
          The {{ player.selected_value_text }} was
        {% if player.is_value_treatment %}
          {{ player.ticket_value_before }}.
        {% else %}
          {{ player.ticket_probability }}.
        {% endif %}
        Therefore, the actual lottery ticket was:
      </p>
    </div>

    {% include 'global/RealizedLottery.html' with is_value_treatment=player.is_value_treatment & fixed_value=player.fixed_value & ticket_probability=player.ticket_probability & ticket_value_before=player.ticket_value_before & fixed_value=player.fixed_value %}

    <div id="played-outcome" class="text-center">
        <p>The lottery was played and its outcome was {{ player.ticket_value_after }}.</p>
    </div>

    <div class="lottery-header text-center">
        <h4>Your Earnings</h4>
      {% if player.bid > player.previous_highest_bid %}
        <p>Your earnings for this round are {{ earnings }}.</p>
      {% else %}
      <p>Your earnings for this round are 0.</p>
      {% endif %}
    </div>

    {% next_button %}
{% endblock %}
