<div class="lottery" id="lottery-text">
  <p>
    With a probability p of
    <span class="text-primary font-weight-bold">
      {% if is_value_treatment %} {{ fixed_value }}% {% else %} {{ ticket_probability }}% {% endif %}
    </span>
    you get a value v =
      <span class="text-success font-weight-bold"><span class="credits">C</span>
        {% if is_value_treatment %} {{ ticket_value_before }} {% else %} {{ fixed_value }} {% endif %}
      </span>,
    <br>otherwise you get <span class="text-success font-weight-bold"><span class="credits">C</span>0</span>.
  </p>
</div>

